[tool.poetry]
authors = ["Martin Hjelmare <marhje52@gmail.com>"]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: Apache Software License",
  "Natural Language :: English",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Topic :: Home Automation",
]
description = "Control VLC over telnet connection using asyncio"
documentation = "https://aiovlc.readthedocs.io"
license = "Apache Software License 2.0"
name = "aiovlc"
packages = [
  {include = "aiovlc", from = "src"},
]
readme = "README.md"
repository = "https://github.com/MartinHjelmare/aiovlc"
version = "0.3.2"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/MartinHjelmare/aiovlc/issues"
"Changelog" = "https://github.com/MartinHjelmare/aiovlc/blob/main/CHANGELOG.md"

[tool.poetry.dependencies]
click = "^8.1.3"
python = "^3.9"

[tool.poetry.group.dev.dependencies]
bandit = "^1.7.4"
black = "^23.0.0"
flake8 = "^6.0"
flake8-docstrings = "^1.6.0"
isort = "^5.11.4"
mypy = "^1.0"
pre-commit = "^3.0.0"
pylint = "^3.0.0"
pylint-strict-informational = "^0.1"
pytest = "^7.2.0"
pytest-asyncio = "^0.21.0"
pytest-cov = "^4.0.0"
python-semantic-release = "^8.0.0"
pyupgrade = "^3.3.1"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
myst-parser = ">=0.16"
sphinx = ">=4.0"
sphinx-rtd-theme = ">=1.0"

[tool.poetry.scripts]
aiovlc = "aiovlc.cli:cli"

[tool.bandit]
skips = [
  "B101",
]

[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "@overload",
  "def __repr__",
  "if TYPE_CHECKING",
  'if __name__ == "__main__":',
  "raise AssertionError",
  "raise NotImplementedError",
  "raise RuntimeError",
]

[tool.isort]
combine_as_imports = true
force_sort_within_sections = true
forced_separate = [
  "tests",
]
known_first_party = [
  "aiovlc",
  "tests",
]
profile = "black"

[tool.mypy]
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_defs = true
exclude = [
  'docs/.*',
  'setup.py',
]
mypy_path = "src/"
no_implicit_optional = true
show_error_codes = true
warn_incomplete_stub = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
allow_untyped_defs = true
module = "tests.*"

[[tool.mypy.overrides]]
ignore_errors = true
module = "docs.*"

[tool.pylint.MAIN]
fail-on = [
  "I",
]
ignore = []
init-hook = """\
    from pathlib import Path; \
    import sys; \

    from pylint.config import find_default_config_files; \

    sys.path.append( \
        str(Path(next(find_default_config_files())).parent.joinpath('pylint/plugins'))
    ) \
    """
jobs = 2
load-plugins = [
  "pylint.extensions.code_style",
  "pylint.extensions.typing",
  "pylint_strict_informational",
]
persistent = false
py-version = "3.9"
score = false

[tool.pylint.FORMAT]
expected-line-ending-format = "LF"

[tool.pylint."MESSAGES CONTROL"]
disable = [
  "duplicate-code",
  "format",
  "locally-disabled",
]
enable = [
  "useless-suppression",
  "use-symbolic-message-instead",
]

[tool.pylint.CODE_STYLE]
max-line-length-suggestions = 88

[tool.pylint.DESIGN]
max-args = 7

[tool.pylint.TYPING]
runtime-typing = false

[tool.pytest.ini_options]
addopts = "-Wdefault --cov=aiovlc --cov-report=term-missing:skip-covered"
asyncio_mode = "auto"
pythonpath = ["src"]

[tool.semantic_release]
build_command = "pip install poetry && poetry build"
major_on_zero = false
version_toml = ["pyproject.toml:tool.poetry.version"]
version_variables = [
  "src/aiovlc/__init__.py:__version__",
]

[tool.semantic_release.changelog]
exclude_commit_patterns = [
  "^chore.*",
  "^ci.*",
  "^Bump.*",
]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]
